@font-face {
    font-family: "DOTMATRI";
    src: url("DotMatri.ttf");
}

@font-face {
    font-family: "MiSans";
    src: url("MiSansVF.ttf");
    font-weight:350;
}

@font-face {
    font-family: "Quicksand";
    src: url("QuicksandVF.ttf");
    font-weight:530;
}

@font-face {
    font-family: "SourceHanSansSC";
    src: url("SourceHanSansSC-VF.ttf");
    font-weight: 460;
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('MaterialIconsOutlined.woff2') format('woff2');
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  