video {
    transform: scale(-1, 1);
}
.preview canvas {
    transform: scale(-1, 1);
}
/* #model{
    transform: scale(-1, 1);
} */

.mdui-slider span {
    line-height: 30px;
}

::-webkit-scrollbar {
    display: none;
}
