body {
    -webkit-user-select: none;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
        /* letter-spacing: 0.3px; */
}

/* .mdui-select{
    font-family: 'Quicksand', 'MiSans' !important;
} */

::selection {
    background: #def;
}

blockquote {
    -webkit-user-select: text;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1000;
    -webkit-app-region: drag;
    background-color: #fffa;
    backdrop-filter: blur(20px) saturate(1.8);
}

.titlebar .clickable {
    z-index: 1001;
    -webkit-app-region: no-drag;
}

.mdui-btn i {
    transform: scale(0.75);
    margin-top: -3px;
    margin-right: 5px;
}

.tab-bar button {
    width: 110px;
    height: 32px;
    line-height: 32px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    color: #777;
    text-align: center;
    padding: 0;
    border-radius: 20px !important;
}

/* .tab-bar .select {
    font-weight: bold;
} */

.dotfont {
    font-family: "DOTMATRI";
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #ccc;
}

h1 {
    font-size: 20px !important;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.color-dot {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 1px;
    margin-left: 1px;
    display: inline-block;
    margin-bottom: -9px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.model-item {
    min-width: 220px;
    max-width: 330px;
    flex: 1;
    height: 110px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    background-color: #fff;
    border: solid 1px #fff0;
}

.model-item:hover {
    border: solid 1px #ccc;
    /* font-weight: bold; */
}

.settings-item {
    height: 50px;
    line-height: 30px;
    cursor: pointer;
}

.settings-item label {
    width: 100%;
}

.settings-item label span {
    display: inline-block;
    width: calc(100% - 50px);
}

.settings-item i {
    color: #777;
    transform: scale(0.8);
}

body::-webkit-scrollbar {
    display: none;
}

button {
    border-radius: 5px !important;
}

#closebtn:hover {
    background-color: #ff6060;
    color: #fff;
}
