body {
    -webkit-user-select: none;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
    /* letter-spacing: 0.3px; */
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        outline 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
}

/* .mdui-select{
    font-family: 'Quicksand', 'MiSans' !important;
} */

::selection {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary) !important;
}

blockquote {
    -webkit-user-select: text;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1000;
    -webkit-app-region: drag;
    background-color: #fffa;
    backdrop-filter: blur(20px) saturate(1.8);
}

.titlebar .clickable {
    z-index: 1001;
    -webkit-app-region: no-drag;
}

.mdui-btn i {
    transform: scale(0.75);
    margin-top: -3px;
    margin-right: 5px;
}

.mdui-btn .material-icons-outlined {
    transform: scale(0.75);
    margin-top: -3px;
    padding-bottom: 48px;
    margin-right: 5px;
}

.tab-bar button {
    width: 110px;
    height: 32px;
    line-height: 32px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    color: #777;
    text-align: center;
    padding: 0;
    border-radius: 20px !important;
    background-color:#fff0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

}

.tab-bar .select {
    background-color: var(--md-sys-color-primary-container) !important;
    box-shadow: var(--md-sys-color-primary-container) 0px 1px 5px;
    color: var(--md-sys-color-primary) !important;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 600;
}

.xf-button {
    background-color: var(--md-sys-color-primary-container) !important;
    box-shadow: var(--md-sys-color-primary-container) 0px 1px 5px;
    color: var(--md-sys-color-primary) !important;
    font-weight: 600;
    border-radius: 20px !important;
    outline: solid #fff0 2px !important;
    outline-offset: 2px !important;
    height: 32px !important;
    line-height: 32px !important;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.xf-button:hover {
    outline: solid var(--md-sys-color-primary) 2px !important;
    outline-offset: 2px !important;
}

.xf-button-2 {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary) !important;
    font-weight: 600;
    border-radius: 20px !important;
    outline: solid #fff0 2px !important;
    outline-offset: 2px !important;
    height: 32px !important;
    line-height: 32px !important;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.xf-button-2:hover {
    outline: solid var(--md-sys-color-primary) 2px !important;
    outline-offset: 2px !important;
}

.dotfont {
    font-family: "DOTMATRI";
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #ccc;
}

h1 {
    font-size: 20px !important;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.color-dot {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 1px;
    margin-left: 1px;
    display: inline-block;
    margin-bottom: -9px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.model-item {
    min-width: 220px;
    max-width: 330px;
    flex: 1;
    height: 110px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    background-color: #fff;
    border: solid 1px #fff0;
}

.model-item:hover {
    border: solid 1px #ccc;
    /* font-weight: bold; */
}

.settings-item {
    height: 50px;
    line-height: 30px;
    cursor: pointer;
}

.settings-item .material-icons-outlined{
    margin-right: 10px;
    margin-top: -4px;
    margin-left: 2px;
    vertical-align: middle;
    font-size: 22px;
    color: #777;
    width: fit-content;
}

.settings-item label {
    width: 100%;
}

.settings-item label span {
    display: inline-block;
    width: calc(100% - 50px);
}

.settings-item i {
    color: #777;
    transform: scale(0.8);
}

body::-webkit-scrollbar {
    display: none;
}

button {
    border-radius: 5px !important;
}

#closebtn:hover {
    background-color: #ff6060;
    color: #fff;
}

.model-item-new {
    position: relative;
    display: inline-block;
    min-width: 240px;
    max-width: 360px;
    flex: 1;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--md-sys-color-primary-container) 0px 3px 10px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: solid #fff0 2px;
    outline-offset: 3px;
    /* border: solid #ccc 0.1px; */
    margin: 8px;
    background-color: var(--md-sys-color-primary-container);
}
.model-item-new:hover {
    outline: solid var(--md-sys-color-primary) 2px;
    outline-offset: 3px;
}

@keyframes shake { 
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(+2px, 0, 0); }
    30%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(+4px, 0, 0); }
    50% { transform: translate3d(-4px, 0, 0); }
}

.model-item-new img {
    position: absolute;
    height: 100%;
    margin-left: -20px;
}

.model-item-new i{
    position: absolute;
    height: 100%;
    font-size: 40px;
    margin: 30px;
    color: #7777;
}

.model-item-new .desc {
    position: absolute;
    z-index: 10;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        var(--md-sys-color-primary-container),
        var(--md-sys-color-primary-container),
        var(--md-sys-color-primary-container),
        var(--md-sys-color-primary-container)
    );
    color: var(--md-sys-color-on-primary-container);
    height: 100%;
    left: 60px;
    width: calc(100% - 60px);
    padding-left: 100px;
    text-align: right;
}

.model-item-new .desc h2 {
    margin-top: 21px;
    margin-left: -50px;
    width: calc(100% - 70px);
    font-weight: 500;
    line-height: 20px;
}

.model-item-new .type {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    width: 40px;
    height: 18px;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
    line-height: 18px;
    margin-left: calc(100% - 162px);
    font-weight: 200;
}

.md3-text-color-theme {
    color: var(--md-sys-color-primary);
}

.model-importer {
    margin-left: 7px !important;
    width: 450px;
    height: 200px;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: var(--md-sys-color-primary-container) 0px 3px 10px;
    border-radius: 20px;
    /* padding: 20px; */
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.model-importer a{
    color: var(--md-sys-color-on-primary-container);
}


#drag-area {
    margin: 15px;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    border: dashed 3px var(--md-sys-color-on-primary-container);
    border-radius: 15px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    background-size: cover !important
}

#drag-area div {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.modelInfo{
    display: inline-block;
    width: 220px;
    position: absolute;
    margin-top: 20px;
}

.xf-input {
    width: 98%;
    color: var(--md-sys-color-on-primary-container);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 6px;
}


.xf-input:focus {
    border: 2px solid var(--md-sys-color-on-primary-container) !important;

}


.card{
    position: fixed;
    left: 100px;
    top: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    width: 200px;
    background: #fffa;
    backdrop-filter: blur(25px) saturate(180%);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left top;
    z-index: 1000;
  }
  
  .carditem{
    color: #555;
    margin: 5px;
    height: 34px;
    border-radius: 5px;
    line-height: 34px;
  }

  .carditem i{
      transform: scale(0.75);
      margin-top: -3px;
  }
  
  .carditem:hover{
    background: #aaa3;
  }
  
  .cardicon{
    margin-left: 5px;
    margin-right: 10px;
  }

  .line2 {
    width: 90%;
    height: 0.5px;
    margin-left: 5%;
    background-color: #dddd;
}



.mdui-slider-discrete .mdui-slider-thumb span {
    top: 0 !important;
}